<aside
  class="shadow md:w-1/4 bg-white dark:border-white border-gray-400 md:border-r-2 dark:bg-gray-800"
>
  <div class="add-student-form p-3 flex flex-col items-center md:block">
    <p
      class="text-center md:text-left text-xl text-blue-500 dark:text-white mb-3"
    >
      Add Student
    </p>
    <% if(locals.user){ %>
    <form
      class="w-64 md:w-full"
      name="addStudent"
      action="/students/add"
      method="post"
    >
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="name"
          >Name :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="name"
          type="text"
          name="name"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="email"
          >Email :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="email"
          name="email"
          id="email"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="college"
          >College :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="text"
          name="college"
          id="college"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="dsaScore"
          >DSA score :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="number"
          name="dsaScore"
          min="0"
          max="100"
          id="dsaScore"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="webScore"
          >Web score :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="number"
          name="webScore"
          min="0"
          max="100"
          id="webScore"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="reactScore"
          >React score :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="number"
          name="reactScore"
          min="0"
          max="100"
          id="reactScore"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="status"
          >Placement status :</label
        >
        <select
          required
          name="status"
          id="status"
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected value="NOT_PLACED">Not placed</option>
          <option value="PLACED">Placed</option>
        </select>
        <small></small>
      </div>
      <div class="form-field mb-6">
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="submit"
        >
          Add
        </button>
      </div>
    </form>
    <% } %>
  </div>
</aside>

<main class="job-container md:w-3/4 p-4 bg-white dark:bg-gray-800">
  <p
    class="p-3 border-b-2 text-xl text-blue-500 dark:text-white mb-3 bg-white dark:border-white border-gray-400 dark:bg-gray-800"
  >
    Students
  </p>
  <div class="students">
    <div
      class="px-4 py-2 mt-3 max-w-md bg-white rounded-lg border shadow-md w-64 md:w-full dark:bg-gray-800 dark:border-gray-700"
    >
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <% for(let student of students){ %>
        <a href="/students/<%= student.id %>">
          <li
            class="p-3 sm:p-4 hover:bg-gray-100 dark:hover:bg-gray-700 rounded"
          >
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img
                  class="w-8 h-8 rounded-full"
                  src="https://cdn2.iconfinder.com/data/icons/multimedia-collection-13/128/200211-03-512.png"
                  alt="Neil image"
                />
              </div>
              <div class="flex-1 min-w-0">
                <p
                  class="text-sm font-medium text-gray-900 truncate dark:text-white"
                >
                  <%= student.name %>
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  <%= student.email %>
                </p>
              </div>
            </div>
          </li>
        </a>
        <% } %>
      </ul>
    </div>
  </div>
</main>
